{% extends "meistrai_app/base.html" %}
{% load staticfiles %}
{% block content %}

<div id="black">
  <div class="container">
    <div class="row">
      <h3>Apie įmonę.</h3>
    </div>
  </div>
</div>

<div class="container mtb">
  <div class="row">
    <div class="col-lg-10">
      <ul style="font-size: 18px;">
        <li>Įmonė įkurta 1992 metais. Įmonės pagrindinė veikla nestandartinių gaminių projektavimas – gamyba, ūkio padargų taisymas- modernizavimas, kitų mechanizmų taisymas- modernizavimas. Metalo konstrukcijų gamyba. Vamzdynų virinimas.</li>
        <li>UAB „Ventos meistrai“ didžiausia tokio tipo įmonė Akmenės rajone. Šiuo metu įmonėje dirba penkiolika savo darbą išmanančių specialistų. Ilgametę patirtį turintys specialistai ir inžinieriai visada pasiruošę Jums padėti – pakonsultuoti.</li>
      </ul>
    </div>
  </div><! --/row -->
</div><! --/container -->



{% endblock content %}
