{% extends "meistrai_app/base.html" %}
{% load staticfiles %}
{% block content %}

  <div class="container" style="padding-top: 100px; text-align: center;">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Mūsų darbo pavyzdžiai</h1>
        <p>Užveskite pelę ant nuotraukos norėdami padidinti ir sužinoti daugiau</p>
      </div>
    </div>
  </div>

<div id="portfoliowrap">
  <div class="portfolio-centered">
    <div class="recentitems portfolio">
      {% for i in images %}
      <div class="portfolio-item gallery_style">
        <div class="he-wrap tpl6">
          <img src="{{ i.image_thumb.url }}" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">{{ i.title }}</h3>
              <a data-rel="prettyPhoto" href="{{ i.image.url }}" class="dmbutton a2" data-animate="fadeInUp" title="{{ i.comment }}"><i class="fa fa-search"></i></a>
              <a href="/" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->
      {% endfor %}
    </div>
  </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->

{% endblock content %}
