{% extends "meistrai_app/base.html" %}
{% load staticfiles %}

{% block content %}
<!--<div id="headerwrap">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-lg-8 col-lg-offset-2">-->
<!--<h3>Čia galėsi pasirašyt kanors mandra.</h3>-->
<!--<h1>Gedžiaus ahujens lankstyma fabriks.</h1>-->
<!--<h5>Ir čia gali dar prirašyt kanors arba gali ir nieka nerašyt</h5>-->
<!--<h5>Gali kokia fotke pist su logotipu jeigu toki turit.</h5>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="col-lg-8 col-lg-offset-2 himg">&ndash;&gt;-->
<!--&lt;!&ndash;<img src="assets/img/browser.png" class="img-responsive">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>&lt;!&ndash; /row &ndash;&gt;-->
<!--</div> &lt;!&ndash; /container &ndash;&gt;-->
<!--</div>&lt;!&ndash; /headerwrap &ndash;&gt;-->
<!--<div class="image">-->
<!--<img src="{% static 'meistrai_app/img/header.jpg' %}" alt="" />-->

<!--<h2>Ventos Meistrai</h2>-->


<!--</div>-->

<div class="featured row">
	<img src="{% static 'meistrai_app/img/header.jpg' %}" alt="">
	<!--<div>-->
		<!--<h2>Ventos meistrai</h2>-->
		<!--<span>Kokybiškai, greitai, pigiai</span>-->
	<!--</div>-->
</div>
{% endblock content %}
