{% extends "meistrai_app/base.html" %}
{% load staticfiles %}
{% block content %}

<div id="black">
  <div class="container">
    <div class="row">
      <h3>Įmonės galimybės.</h3>
    </div>
  </div>
</div>

<div class="container mtb">
  <div class="row">
    <div class="col-lg-10">
      <ul style="font-size: 18px;">
        <li><strong>CNC plazma pjovimas:</strong><br/>Maksimalūs gabaritai: 3000x1500 mm<br/>Storis: 0-20 mm</li>
        <li><strong>Metalo lankstymas kompiuterinėmis staklėmis:</strong><br/>Maksimalus ruošinio ilgis: 3000 mm<br/>Storis: 0-6 mm</li>
        <li><strong>Virinimas MIG/MAG/TIG:</strong><br/>Nerūdijantis plienas<br/>Plienas<br/>Aliuminis<br/>Ketus</li>
        <li><strong>Valcavimas:</strong><br/>Ruošinio plotis: 2000 mm<br/>Ruošinio storis: 0-16 mm</li>
        <li><strong>Metalo lakštų karpymas:</strong><br/>Ruošinio plotis: 2000 mm <br/>Ruošinio storis: 0-6 mm</li>

      </ul>
    </div>
  </div><! --/row -->
</div><! --/container -->



{% endblock content %}
